{{ with .Site.Params.call_to_action }}
{{ if .enable }}
<section class="site-contact" id="contact">
    <div class="container">
        <div class="row" style="width: 100%">
            <div class="col-12" style="width: 100%">
                <div class="wrapper">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-md-12">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <div class="section-title">
                                    <h2 class="section-title mb-4">Contact Us</h2>
                                </div>
                                <div id="form-message-warning" class="mb-4"></div>
                                <form method="POST" id="contactForm" class="contactForm" name="contact"
                                      data-netlify="true" action="/favicon.ico">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Full Name</label>
                                                <input type="text" class="form-control" name="name" id="name" required
                                                       placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Email Address</label>
                                                <input type="email" class="form-control" name="email" id="email" required
                                                       placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Subject</label>
                                                <input type="text" class="form-control" name="subject" id="subject" required
                                                       placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label">Message</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" required
                                                          rows="4" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 20px">
                                            <div class="form-group">
                                                <input type="submit" value="Send Message" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
