<footer class="site-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer.contactInfo }}
      <div class="col-lg-3 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <p class="site-footer-widget-description">
<!--            {{ .address | safeHTML }}-->
            <br>
            <a href="tel:{{ .phone }}">{{ .phone }}</a>
            <br>
            <a href="mailto:{{ .email }}">{{ .email }}</a>
          </p>
        </div>
      </div>
      {{ end }}
      {{ with .Site.Params.footer.sitemap }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
            <li><a href="{{ .url | absURL }}">{{ .name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
<!--      {{ with .Site.Params.footer.social }}-->
<!--      <div class="col-lg-2 col-md-6">-->
<!--        <div class="site-footer-widget">-->
<!--          <h5 class="site-footer-widget-title">{{ .title }}</h5>-->
<!--          <ul class="site-footer-widget-links">-->
<!--            {{ range .link }}-->
<!--              <li><a href="{{ .url }}">{{ .name }}</a></li>-->
<!--            {{ end }}-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      {{ end }}-->
      {{ with .Site.Params.footer.service }}
      <div class="col-lg-7 col-md-6">
        <div class="site-footer-widget">
          <p class="site-footer-widget-description">
            {{ .description | safeHTML }}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</footer>
<a id="getInContact" href="#contact" class="btn top hide btn-sm-rounded btn-primary"><i
        class="fa fa-solid fa-message-lines"></i> Get in Touch</a>
<script>
  // ScrollReveal({duration: 2000}).reveal('section');
  ScrollReveal({duration: 2000}).reveal('.reveal');
</script>
<script>
  const scrollToTopButton = document.getElementById('getInContact');
  const scrollFunc = () => {
    let y = window.scrollY;
    if (y > 100) {
      scrollToTopButton.className = "btn top btn-sm-rounded btn-primary show";
    } else {
      scrollToTopButton.className = "btn top btn-sm-rounded btn-primary hide";
    }
  };

  window.addEventListener("scroll", scrollFunc);
</script>
<script>
  new universalParallax().init();
</script>
