{{ with .Site.Params.portfolio }}
{{ if .enable }}
<section class="site-project" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>{{ .title }}</h2>
                    <!--            <p>{{ .subtitle }}</p>-->
                </div>
            </div>
            <div class="row gx-sm-0 align-items-center">
                <div class="col-lg-9 order-lg-1 mb-5 mb-lg-0 col-sm-12 gx-0">
                    <div class="container-fluid px-lg-5">
                        <h4 class="text-center ">What does Saans mean?</h4>
                        <p class="lead fw-normal text-muted">
                            Saans, is a Hindi (one of the languages from india) word, which means <i>to breathe</i>.
                        </p>
                        <p class="lead fw-normal text-muted">
                            In this day and age, with so much happening in our world, we can get caught up in the ups
                            and downs, and
                            sometimes forget to breathe.
                        </p>
                        <p class="lead fw-normal text-muted">
                            Our <i>breathes</i> are essential not only for our survival, but for our wellbeing and
                            balance,
                            both mentally and physically. You may have experienced learning how to breathe in a
                            meditation or yoga, mindfulness or pilates class, and I am hoping you experienced a deep
                            sensation connecting you to your heart, soul and body. it is this connection we lose when we
                            are anxious, uncertain, nervous, angry, sad. At times, when we are filled with a multitude
                            of emotions, we can forget to breathe. A breath should be the mechanism that facilitates us
                            to feel fully and be alive.
                        </p>
                        <p class="lead fw-normal text-muted">
                            I chose this word for the practice as it symbolically represents, the many times in life,
                            when I have forgotten to breathe. I believe that in working through your concerns and
                            questions surrounding your life , and living, we can work together to help you learn to
                            breathe a full, purposeful breath, which has the power to ground and balance you.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 order-lg-0" style="width: 100%">
                    <h2 class="mb-1 mt-4 px-1" style="text-align: left"><i>
                        "Life is available only in the present moment"
                    </i></h2>
                    <p style="text-align: right; margin-right: 10px;"><i>- Thich Nhat Hanh</i></p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
