{{ with .Site.Data.testimonial }}
{{ if .enable }}
<style>
    .parallax {
        opacity: 0.5;
    }

    .parallax:after {
        background: linear-gradient(to bottom, transparent 0%, black 100%);
    }
</style>
<section class="site-hero" style="height: 600px !important; background: black !important; opacity: 0.8">
    <div data-parallax-image="images/rocks.webp" class="parallax align-items-center">
    </div>
    <div class="col-lg-8 col-12" style="text-align: center; color: white !important;">
        <h2 style="text-align: left; color: white; font-weight: normal; font-family: 'Joan',serif !important;">
            "What you are looking for is already in you..You already are everything you are seeking"
        </h2>
        <h3 style="text-align: right; color: white"><i>- Thich Nhat Hanh</i></h3>
    </div>
</section>
<section class="site-testimonial">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">

            </div>
            <div class="col-sm-8 col-md-6 col-lg-4 order-lg-0 mb-4">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
                                               src="images/why.webp"
                                               alt="..."/></div>
            </div>
            <div class="col-12 col-lg-8 order-lg-1">
                <div class="section-title" style="margin-bottom: 0">
                    <h4 class="text-center" style="margin-top: 20px; margin-bottom: 20px">{{ .title }}</h4>

<!--                    <h3 style="font-family: Mukta, sans-serif; font-size: 40px">{{ .title }}</h3>-->
                </div>
                <p class="lead fw-normal text-muted" style="margin: 0">
                    <b>Therapy</b> is effective not simply just through talking about your ‘problems’; that is only the first
                    step. Diving deeper, therapy is about consciously working to ameliorate your abilities to change the
                    things you can change and to accept what you cannot.
                </p>
                <p class="lead fw-normal text-muted mb-5 mb-lg-3">
                    <b>Psychotherapy</b> creates a unique space where you can explore your <b>feelings</b>, <b>thoughts</b> and <b>behaviour</b> in
                    a <b>non-judgmental</b>, <b>confidential</b> and <b>supportive</b> environment. The therapeutic alliance, which is the
                    quality of the relationship created between you and your therapist, is pertinent for therapy to be
                    effective and one that fosters self-awareness, trust and change.
                </p>
                <p class="lead fw-normal text-muted">
                    The areas of concern I work with are (and not limited to):
                </p>
                <div class="row">
                    <div class="col-lg-6 col-12" style="padding-bottom: 0 !important; margin-bottom: 0 !important;">
                        <ul style="padding-bottom: 0 !important; margin-bottom: 0 !important;"
                            class="lead fw-normal text-muted">
                            <li>
                                <b>Addiction- substance, gambling, internet, sexual etc.</b>
                            </li>
                            <li>Abuse – physical, Emotional, financial abuse</li>
                            <li>Anger</li>
                            <li>Grief / Loss / Bereavement</li>
                            <li>Relationship concerns</li>
                            <li>Racism</li>
                            <li>Anorexia/ Binge eating /Bulimia</li>
                            <li>Bipolar/Manic depression</li>
                            <li>Low self-esteem</li>
                            <li>OCD</li>
                            <li>Phobias</li>
                            <li>PTSD</li>
                            <li>Self-Harm</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-12">
                        <ul class="lead fw-normal text-muted">
                            <li>Anxiety / Panic attacks</li>
                            <li>Sexuality</li>
                            <li>Depression</li>
                            <li>Trauma</li>
                            <li>Dissociation</li>
                            <li>Third culture / cultural issues</li>
                            <li>Dysfunctional relationships / family dynamics</li>
                            <li>Female ageing concerns</li>
                            <li>Identity and sense of self</li>
                            <li>Ageing / Empty nesters / Retirement</li>
                            <li>Abortion</li>
                            <li>Trauma</li>
                            <li>Work related issues</li>
                        </ul>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="site-hero" style="height: 500px !important; background: black !important; opacity: 0.8">
    <div data-parallax-image="images/agony.webp" class="parallax align-items-center">
    </div>
    <div class="col-lg-8 col-12" style="text-align: center; color: white !important;">
        <h2 style="text-align: left; color: white; font-weight: normal; font-family: 'Joan',serif !important;">
            "There is no greater agony than bearing an untold story inside you"
        </h2>
        <h3 style="text-align: right; color: white"><i>- Maya Angelou</i></h3>
    </div>
</section>
{{ end }}
{{ end }}
