{{ define "main" }}

<section class="site-about-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-2 order-lg-0 mt-5 mb-3">
                        <div>
                            <img class="img-fluid rounded-circle"
                                 style="width: 100%; margin: 0 auto; text-align: center"
                                 src="../images/shruti.jpg"
                                 alt="..."/>
                        </div>
                    </div>
                    <div class="col-10 align-items-center">
                        <h2 class="display-4 lh-1" style="margin: 0; padding: 0; margin-top: 50px">Shruti Jain</h2>
                        <p class="text" style="margin: 0; padding: 0; font-size: 20px">Existential Psychotherapist</p>
                        <p class="text-muted">Based in Esher, UK</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4 class="mb-3 mt-3">
                    <b>My Experience:</b>
                </h4>
                <p class="lead fw-normal text-muted mb-3">
                    I am currently studying towards a Doctorate in Professional Studies (DProf) in Existential
                    Psychotherapy and Counselling. I have a BSc in Marketing with a minor in Psychology and an MBA.
                    After ten years of corporate experience in Human Resources, I embarked on a personal journey and
                    decided to retrain as a psychotherapist.
                </p>
                <p class="lead fw-normal text-muted">
                    I have been a therapist for seven years. I started in London, UK where I gained experience in
                    alcohol and drug addiction, as well as inter-cultural therapy. This allowed me to work with clients
                    from a wide variety of nationalities, faith, sexual orientations and mental health concerns. I have
                    also worked in Singapore where I deepened my experience in a private practice by working with
                    individuals, couples, dyads (parent and child) and families for therapeutic interventions. I also
                    complimented my experience by volunteering and attending to the needs of the young adults and social
                    workers within NGO’s/charities in Singapore.
                </p>
            </div>
            <div class="col-12 col-lg-12 order-lg-0">
                <h4 class="mb-3 mt-3">
                    <b>My Approach:</b>
                </h4>
                <p class="lead fw-normal text-muted mb-3">
                    I believe humans have an inherent ability to transform and that a firm therapeutic alliance and
                    mutual trust are crucial elements for self-exploration and reflection; by carefully listening,
                    questioning and having you narrate your life story and life experiences. Through that narration, we
                    search for the truth with an open mind and an attitude of wonder, leaving aside diagnosis that may
                    put you into pre-established categories and interpretations.
                </p>
                <p class="lead fw-normal text-muted mb-3">
                    Existentialism and existential therapies use a range of approaches, but the major focuses are themes
                    such as responsibility and freedom, loneliness, anxiety, forgiveness, and death.
                </p>
                <p class="lead fw-normal text-muted mb-3">
                    I aim to create a space in which you can progress your journey of finding meaning in the face of
                    anxiety. We would work cautiously to: choose how to think and act responsibly, confront negative
                    internal thoughts vs. focusing on external forces like societal pressures, cultural limitations or
                    plain old luck, these are just some examples.
                </p>
                <p class="lead fw-normal text-muted mb-3">
                    I work with my clients to create a therapeutic space that has the potential to foster authenticity,
                    free will, love/loving and creativity – all avenues that enable transformation or understanding of
                    the Self. In working existentially, I emphasize to my clients that I don’t work with an exact goal
                    or an agenda, albeit maybe the one goal: You learn to make more wilful decisions about how to live,
                    drawing on creativity, agency and love, instead of letting external forces or events determine your
                    behaviour and relational patterns. Is that too much to ask for in therapy?
                </p>
                <p class="lead fw-normal text-muted mb-3">
                    As part of the process, I may also use integrative therapeutic modalities such as CBT, gestalt
                    creative therapy, family systemic therapy and when required, some form of meditation and mindfulness
                    approach. Nevertheless, always remember that the decision lies with you, you have the autonomy to
                    choose how you want to work with me in therapy, so you have control of what journey we take in
                    working together.
                </p>
                <p class="lead fw-normal text-muted mb-3">
                    Having been exposed to multiple cultures globally, I have a strong understanding and awareness of
                    equality and diversity issues and am used to working with people from varied backgrounds.
                </p>
            </div>

        </div>
    </div>
</section>

<!--<section class="site-expertise">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      {{ with .Params.expertise_title }}-->
<!--      <div class="col-md-5">-->
<!--        <div class="section-title">-->
<!--          <h2>{{ . }}</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--      {{ end }}-->
<!--      <div class="col-md-6">-->
<!--        <ul class="site-expertise-list">-->
<!--          {{ range .Params.expertise_sectors }}-->
<!--          <li>{{ . }}</li>-->
<!--          {{ end }}-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--{{ partial "clients.html" . }}-->

<!--{{ partial "team.html" . }}-->

{{ partial "call-to-action.html" . }}

{{ end }}
