{{ define "main" }}

<section class="site-about-header">
    <div class="container" style="text-align: left">
        <div class="row mt-5">
            <div class="col-12">
                <div class="section-title" style="padding: 0; margin: 0 0 50px;">
                    <h3>Working Together</h3>
                </div>
            </div>
            <div class="col-12">
                <h4>The Process</h4>
                <ul class="timeline">
                    <li>
<!--                        <h5>Introductory Consultation</h5>-->
                        <p class="lead fw-normal text-muted" style="font-weight: 400">
                            To begin with, I offer a first, free introductory consultation.
                        </p>
                        <p class="lead fw-normal text-muted" style="font-weight: 400">
                            Here you talk about anything regarding therapy and understand how I work as a
                            psychotherapist
                            I offer a first, free introductory consultation.
                        </p>
                    </li>
                    <li>
                        <p class="lead fw-normal text-muted" style="font-weight: 400">
                            At your first appointment, you will be invited into a private and comfortable space to
                            discuss
                            your personal hopes in therapy.
                        </p>
                        <p class="lead fw-normal text-muted" style="font-weight: 400">
                            This initial consultation will provide time to discuss any concerns you may have about
                            therapy. Similar to the relationship with your doctor, dentist, or hairdresser is crucial for tending
                            to
                            what’s needed for your body, teeth or hair. Similarly, taking the time to find a good
                            therapist
                            for you is just as important.
                        </p>
                    </li>
                    <li>
                        <p class="lead fw-normal text-muted" style="font-weight: 400">
                            As we decide to work together, we will plan your therapeutic journey.
                        </p>
                    </li>
                    <li>
                        <p class="lead fw-normal text-muted" style="font-weight: 400">
                            Ending therapy - how to end therapy is crucial for being in therapy. It is like anything else we may need to reflect
                            on, how to end relationships, friendships or breakups, how to resign from a job, or how to tell
                            someone you love things that hurt you – they’re all about ending the status quo and making a change.
                        </p>
<!--                        <p class="lead fw-normal text-muted">-->
<!--                            As I have said above, existential therapy is about autonomy, will and choice. Hence, it will be up-->
<!--                            to you when and how you may want to end therapy. I request and remind my clients to enable two-->
<!--                            sessions to reflect on this decision and enable it with certainty.-->
<!--                        </p>-->
                    </li>
<!--                    <li>-->
<!--                        <p class="lead fw-normal text-muted">-->
<!--                            If you feel I may not be the right therapist to work with, I would be happy to enable a-->
<!--                            referral, as appropriate.-->
<!--                        </p>-->
<!--                    </li>-->
                </ul>
                <span>&nbsp;</span>
                <p class="lead fw-normal text-muted" style="font-weight: 400">
                    I offer in-person sessions, and video sessions via Zoom, Google Meet, WhatsApp, and FaceTime.
                </p>


            </div>
        </div>
    </div>
    </div>
</section>

<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }

    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }

    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }

    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>

<!--<section class="site-expertise">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      {{ with .Params.expertise_title }}-->
<!--      <div class="col-md-5">-->
<!--        <div class="section-title">-->
<!--          <h2>{{ . }}</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--      {{ end }}-->
<!--      <div class="col-md-6">-->
<!--        <ul class="site-expertise-list">-->
<!--          {{ range .Params.expertise_sectors }}-->
<!--          <li>{{ . }}</li>-->
<!--          {{ end }}-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--{{ partial "clients.html" . }}-->

<!--{{ partial "team.html" . }}-->

{{ partial "call-to-action.html" . }}

{{ end }}
