{{ define "main" }}

<section class="site-about-header">
    <div class="container" style="text-align: left">
        <div class="row mt-5">
            <div class="col-12">
                <div class="section-title">
                    <h2>Working Together</h2>
                    <p>How psychotherapy, or talking therapy works</p>
                </div>
            </div>
            <div class="col-12">
                <h3>How we will start</h3>
                <p class="lead fw-normal text-muted">
                    At your first appointment, you will be invited into a private and comfortable space to discuss your
                    personal hopes in therapy. This initial consultation will provide time to discuss any concerns you
                    may have about therapy.</p>
                <p class="lead fw-normal text-muted">
                    Similar to the relationship with your doctor, dentist, or hairdresser is crucial for tending to
                    what’s needed for your body, teeth or hair. Similarly, taking the time to find a good therapist for
                    you is just as important. It is for this reason, I offer a free consultation; you can talk about
                    anything regarding therapy and understand how I work as a psychotherapist.
                </p>
                <p class="lead fw-normal text-muted">
                    I offer in-person sessions, and video sessions via Zoom, Google Meet, WhatsApp, and FaceTime for
                    those who are not able to can’t come in person.
                </p>
                <p class="lead fw-normal text-muted">
                    Together, we will also explore the type of psychotherapy that will be best for your needs. You may
                    have a preference for the kind of personal therapist you would like to see and if you feel I may not
                    be the right therapist to work with, I would be happy to enable a referral, when appropriate.
                </p>

                <p class="lead fw-normal text-muted">
                    The areas of concern I am familiar with are (and not limited to):
                </p>
                <div class="row">
                    <div class="col-lg-6 col-12" style="padding-bottom: 0 !important; margin-bottom: 0 !important;">
                        <ul style="padding-bottom: 0 !important; margin-bottom: 0 !important;"
                            class="lead fw-normal text-muted">
                            <li>
                                Addiction- substance, gambling, internet, sexual etc.
                            </li>
                            <li>Grief / Loss / Bereavement</li>
                            <li>Abuse – physical, Emotional, financial abuse</li>
                            <li>Relationship concerns</li>
                            <li>Anger</li>
                            <li>Racism</li>
                            <li>Anorexia/ Binge eating /Bulimia</li>
                            <li>Bipolar/Manic depression</li>
                            <li>Low self-esteem</li>
                            <li>OCD</li>
                            <li>Phobias</li>
                            <li>PTSD</li>
                            <li>Self-Harming</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-12">
                        <ul class="lead fw-normal text-muted">
                            <li>Anxiety / Panic attacks</li>
                            <li>Sexuality</li>
                            <li>Depression</li>
                            <li>Trauma</li>
                            <li>Dissociation</li>
                            <li>Third culture / cultural issues</li>
                            <li>Dysfunctional relationships / family dynamics</li>
                            <li>Female ageing concerns</li>
                            <li>Identity and sense of self</li>
                            <li>Ageing / Empty nesters / Retirement</li>
                            <li>Abortion</li>
                            <li>Trauma</li>
                            <li>Work related issues</li>
                        </ul>
                    </div>
                </div>
                </p>
                <h3>Endings</h3>
                <p class="lead fw-normal text-muted">
                    How to end therapy is crucial for being in therapy. It is like anything else we may need to reflect
                    on, how to end relationships, friendships or breakups, how to resign from a job, or how to tell
                    someone you love things that hurt you – they’re all about ending the status quo and making a change.
                </p>
                <p class="lead fw-normal text-muted" style="padding-bottom: 50px">
                    As I have said above, existential therapy is about autonomy, will and choice. Hence, it will be up
                    to you when and how you may want to end therapy. I request and remind my clients to enable two
                    sessions to reflect on this decision and enable it with certainty.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<!--<section class="site-expertise">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      {{ with .Params.expertise_title }}-->
<!--      <div class="col-md-5">-->
<!--        <div class="section-title">-->
<!--          <h2>{{ . }}</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--      {{ end }}-->
<!--      <div class="col-md-6">-->
<!--        <ul class="site-expertise-list">-->
<!--          {{ range .Params.expertise_sectors }}-->
<!--          <li>{{ . }}</li>-->
<!--          {{ end }}-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--{{ partial "clients.html" . }}-->

<!--{{ partial "team.html" . }}-->

{{ partial "call-to-action.html" . }}

{{ end }}
